.home-screen {
  padding: 5px;
}

.test {
  font-weight: bold;
}

@media (max-width: 480px) {
  .test2 {
    font-style: normal;
    color: blue;
  }
}

@media (min-width: 481px) and (max-width: 681px) {
  .test2 {
    font-style: italic;
    color: green;
  }
}

button {
  margin: 5px;
}
