.web3Screen input {
  width: 100%;
}

.currency {
  display: flex;
  align-items: center;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding: 5px;
}

.logo {
  margin-right: 5px;
  text-align: center;
  width: 50px;
}

.currency img {
  width: 50px;
}
